.potraitImage{
    text-align: center;
    padding: 1rem;
}
.potraitImage h1{
    text-align: center;
    padding: 1rem;
    font-size: 30px;
}
.frameBox {
    width: 100%;
    height: 100%;
    border: 20px solid transparent;
 }