.potraitImage{
    text-align: center;
    padding: 1rem;
}
.potraitImage h1{
    text-align: center;
    padding: 1rem;
    font-size: 30px;
}
.one{
    background-color: plum;
}
.two{
    background-color:  aqua;;
}