.digiRow h1{
    text-align: center;
}

.digiRow{
    justify-content: center;
}
.frameBox {
    max-width: 100%;
    max-height: calc(80vh - 88px);
    border: 20px solid transparent;
 }
 .responsive-image {
    object-fit: contain;
  max-width: 100%;
  max-height: calc(80vh - 128px);
  width: auto;
  height: auto;
  margin: auto;
  display: block;
   margin-left: auto;
   margin-right: auto;
 }
 .shareLike{
     padding: 5px;
 }