<div fxLayout="row" fxLayoutAlign="end center">

    <button mat-icon-button class="close-button" [mat-dialog-close]="true">
        <mat-icon class="close-icon" color="primary">close</mat-icon>
    </button><br>
</div>
<!-- <div class="digiRow">
    <h1>Digital Image</h1> -->
    <!-- <div class="responsive-image" fxLayout="row" fxLayoutAlign="center center">
        <div class="frameBox" [style.border-image]="getSanitizedFrame()">
                <img [src]="digitalInfo.imageURL"   alt="">
        </div> 
    </div> -->
    <div fxLayout="row" fxLayoutAlign="center center">
        <div class="frameBox" [style.border-image]="getSanitizedFrame()">
            <img [src]="digitalInfo.imageURL" class="responsive-image">
        </div>
    </div>        
<!-- </div> -->