<div fxLayout="row" fxLayoutAlign="end center" >

    <button mat-icon-button class="close-button" [mat-dialog-close]="true">
      <mat-icon class="close-icon" color="primary">close</mat-icon>
    </button><br>
</div>
<div class="digiRow">
    <h1>Digital Image</h1>
    <mat-grid-list cols="2" [cols]="breakpoint" rowHeight="2:1"
    (window:resize)="onResize($event)">
        <mat-grid-tile>
           
                <img [src]="digitalInfo.imageURL" alt="" width="100%" height="100%">
          
        </mat-grid-tile>
        <mat-grid-tile class="description">
            <div class="digitalImageDsecription">
                <h1>Description</h1>
                    <p>{{digitalInfo.description}}</p>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>