.digitalImage{
    float: left;
    margin-right: 1em;
    width: 70%;
}
.digiRow h1{
    text-align: center;
    padding: 0.5em;
    font-size: 2em;
}
.desecription h2{
    text-align: center;
    padding: 0.5em;
    font-size: 1em;
}
.digitalImageDsecription{
    margin-left: .5em;
    align-items: center;
}
.digiRow{
    justify-content: center;
    padding-top: 1em;
}
.demo{
    background-color: aqua;
}