<div class="digiRow">
    <h1>Digital Image</h1>
    <mat-grid-list cols="2" [cols]="breakpoint" rowHeight="2:1"
    (window:resize)="onResize($event)">
        <mat-grid-tile>
           
                <img src="../assets/Cover.jpeg" alt="" width="100%" height="100%">
          
        </mat-grid-tile>
        <mat-grid-tile class="description">
            <div class="digitalImageDsecription">
                <h2>When you get into a tight place 
                    and everything goes against you, 
                    till it seems as though you could not hang on a minute longer,
                    never give up then, for that is just the place and time that the tide will turn.</h2>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>