<div class="login-page sidebar-collapse">
    <div class="page-header header-filter"
        style="background-image: url('../assets/img/bg7.jpg'); background-size: cover; background-position: top center;">
        <div class="container">
            <div class="row" *ngIf="!isSignUp">
                <div class="col-lg-4 col-md-6 ml-auto mr-auto">
                    <div class="card card-login">
                        <div class="form">
                            <div class="card-header card-header-primary text-center">
                                <h4 class="card-title">Artist Login</h4>
                                <div class="social-line">
                                    <a (click)="authService.doFacebookLogin()" class="btn btn-just-icon btn-link">
                                        <i class="fa fa-facebook-square"></i>
                                    </a>
                                    <a (click)="authService.doGoogleLogin()" class="btn btn-just-icon btn-link">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </div>
                            </div>
                            <p class="description text-center">Or Use Email</p>
                            <div class="card-body">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="material-icons">mail</i>
                                        </span>
                                    </div>
                                    <input type="email" [value]="emailSignin" (keyup)="addEmailSignin($event)"
                                        class="form-control" placeholder="Email...">
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="material-icons">lock_outline</i>
                                        </span>
                                    </div>
                                    <input type="password" [value]="passwordSignin" (keyup)="addPasswordSignin($event)"
                                        class="form-control" placeholder="Password...">
                                </div>
                            </div>
                            <div class="footer text-center ">
                                <a (click)="onSignin()" class="btn btn-primary btn-wd btn-md">Login</a>
                                <div class="spacer"></div>
                                <a (click)="isSignUp = !isSignUp" class="btn btn-primary btn-link btn-wd btn-lg">Create
                                    A
                                    Account</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="isSignUp">
                <div class="col-lg-4 col-md-6 ml-auto mr-auto">
                    <div class="card card-login">
                        <div class="form">
                            <div class="card-header card-header-primary text-center">
                                <h4 class="card-title">Join as an Artist</h4>
                                <div class="social-line">
                                    <a href="#pablo" class="btn btn-just-icon btn-link">
                                        <i class="fa fa-facebook-square"></i>
                                    </a>
                                    <a href="#pablo" class="btn btn-just-icon btn-link">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </div>
                            </div>
                            <form [formGroup]="signupForm">
                                <p class="description text-center">Content Box</p>
                                <div class="card-body" id="style-1" style="height: 180px;overflow: scroll;">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="material-icons">perm_identity</i>
                                            </span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Name"
                                            formControlName="name">
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="material-icons">mail</i>
                                            </span>
                                        </div>
                                        <input type="email" class="form-control" placeholder="Email"
                                        formControlName="email">
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="material-icons">lock_outline</i>
                                            </span>
                                        </div>
                                        <input type="password" class="form-control" placeholder="Password"
                                        formControlName="password">
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="material-icons">done</i>
                                            </span>
                                        </div>
                                        <input type="password" class="form-control" placeholder="Confirm Password"
                                        formControlName="confirmPassword">
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="material-icons">event</i>
                                            </span>
                                        </div>
                                        <input placeholder="Date Of Birth" onfocus="(this.type='date')"
                                            onblur="(this.type='text')" class="form-control" formControlName="dob">
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="material-icons">language</i>
                                            </span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Nationality"
                                        formControlName="nationality">
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="material-icons">location_on</i>
                                            </span>
                                        </div>
                                        <select class="form-control selectpicker" data-style="btn btn-link"
                                             formControlName="residency">
                                            <option value="undefined" value="" disabled selected hidden>Country of Residence</option>
                                            <option *ngFor="let country of countryList" [ngValue]="country.code">
                                                {{country.emoji}} {{country.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                            <div class="page-footer text-center">
                                <div class="d-flex justify-content-center captcha-wrapper">
                                    <div class="g-recaptcha-wrapper">
                                        <re-captcha #captchaRef="reCaptcha" (resolved)="resolved($event)"
                                            (error)="onError($event)" errorMode="handled"
                                            siteKey="6LcOuyYTAAAAAHTjFuqhA52fmfJ_j5iFk5PsfXaU">
                                        </re-captcha>
                                    </div>
                                </div>
                                <a class="link" (click)="signup()"
                                    class="sign-up-button btn btn-primary btn-wd btn-md ">Sign
                                    Up</a>
                                <a (click)="isSignUp = !isSignUp" class="btn btn-primary btn-link btn-wd btn-lg">Already
                                    have
                                    an Account</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>