
    <div fxLayout="row" fxLayoutAlign="end center" >

        <button mat-icon-button class="close-button" [mat-dialog-close]="true">
          <mat-icon class="close-icon" color="primary">close</mat-icon>
        </button><br>
      </div> -->
    <mat-grid-list cols="3">
        <mat-grid-tile colspan='1'>
            
            <div class="digitalImage">
                <h1>Digital Image</h1>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <div class="frameBox" [style.border-image]="getSanitizedFrame()">
                            <img [src]="imageInfo.imageURL.big"   alt="" class="responsive-image"  (click)="digitalimageOnClick(imageInfo.imageURL.big)">
                    </div> 
                </div>
            </div>
                
          
        </mat-grid-tile>
        <mat-grid-tile colspan='1'>
            <div class="potraitImage">
                <h1>Potrait Image</h1>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <div class="frameBox" [style.border-image]="getSanitizedFrame()">
                            <img [src]="imageInfo.imageURL.big"   alt="" width="100%" height="100%" (click)="potraitimageOnClick(imageInfo.imageURL.big)">
                    </div> 
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile colspan='1'>
            <div class="description">
                <h1>Description</h1>
                    <h3>{{imageInfo.description}}</h3>
            </div>
        </mat-grid-tile>
    </mat-grid-list>

   

    