

.imageType{
    text-align:center;
    max-height: calc(80vh - 15%);
    cursor: pointer;
    padding-left: 2px;
    padding-right: 5px;
    min-height: 160px;
    min-width: 180px;
    overflow: hidden;
}
.imageType h2{
  text-align: center;
}
@media only screen and (max-width: 760px) {
    /* .imageType {
      max-height: 350px !important;
    } */
    .button{
      height: 20px !important;
      padding-bottom: 5px;
    } 
  }
.description{
    text-align: center;
    min-width: 160px !important;
    padding-left: 5px;
}
.frameBox {
    max-width: 100%;
    max-height: calc(85vh - 20%);
    border: 20px solid transparent;
    min-height: 140px;
    min-width: 160px;
 }
 .responsive-image {
  
  max-width: 100%;
  max-height: calc((85vh - 20%)-40px);
  width: auto;
  height: auto;
  margin: auto;
  display: block;
   margin-left: auto;
   margin-right: auto;
   min-height: 100px;
   min-width: 120px;
 }
 .close-button{
   background-color: white;
 }
  p  {
    display: block;
    position: absolute;
    width: 90%;
    text-align: justify;
  text-justify: inter-word;
  }
  .content{
    background-color: white;
  }
  ::ng-deep .mat-typography h2 {
    margin: 0;
    /* margin: 0 0 16px; */
}
.mat-icon-button{
  background-color: white !important;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: white !important;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 64px;
  line-height: 36px;
  padding: 0;
  border-radius: 4px;
  overflow: hidden;
}


