
.digitalImage h1{
    text-align: center;
    padding: 5px;
   
    cursor: none;
} 
.potraitImage h1{
    text-align: center;
    padding: 5px;
    
    cursor: none;
}
.digitalImage{
   padding: 5px;
   cursor: pointer;
} 
.potraitImage{
    padding: 5px;
    cursor: pointer;
}
.description h1{
    justify-self: start;
    margin-top: 0px;
}
.description{
    
    align-items: center;
   
}
.one{
    background-color: red;
}
.two{
    background-color: gold;
}
.three{
    background-color: palevioletred;
}