
<div class="button" fxLayout="row" fxLayoutAlign="end center">

    <button mat-icon-button class="close-button" [mat-dialog-close]="true">
        <mat-icon class="close-icon" color="primary">close</mat-icon>
    </button><br>
</div>

<!-- <mat-grid-list cols="12" #grid rowHeight="fit" style="height: calc(80vh - 24px)" >
    <mat-grid-tile colspan='5'>
        <div class="digitalImage">
            <h1>Digital Image</h1>
            <div fxLayout="row" fxLayoutAlign="center center">
                <div class="frameBox" [style.border-image]="getSanitizedFrame()">
                    <img [src]="imageInfo.imageURL.big" alt="" class="responsive-image"
                        (click)="digitalimageOnClick(imageInfo.imageURL.big)">
                </div>
            </div>
        </div>


    </mat-grid-tile>
    <mat-grid-tile colspan='5'>
        <div class="potraitImage">
            <h1>Potrait Image</h1>
            <div fxLayout="row" fxLayoutAlign="center center">
                <div class="frameBox" [style.border-image]="getSanitizedFrame()">
                    <img [src]="imageInfo.imageURL.big" class="responsive-image" alt="" width="100%" height="100%"
                        (click)="potraitimageOnClick(imageInfo.imageURL.big)">
                </div>
            </div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile colspan='2'>
        <div class="description">
            <h1>Description</h1>
            <p>{{imageInfo.description}}</p>
        </div>
    </mat-grid-tile>
</mat-grid-list> -->


    <div class="content" fxLayout="row" fxLayout.md="column" fxLayout.xs="column" fxLayout.sm="column" fxFlexFill>

        <div fxFlex="40" class="imageType" fxFlex.md="100" fxFlex.xs="100" fxFlex.sm="100">

            
                <h2>Digital Image</h2>
                
                    <div class="frameBox" [style.border-image]="getSanitizedFrame()">
                        <img [src]="imageInfo.imageURL.big" class="responsive-image"
                            (click)="digitalimageOnClick(imageInfo.imageURL.big)">
                    </div>
                
            
        </div>
        <div fxFlex="40" class="imageType" fxFlex.md="100" fxFlex.xs="100" fxFlex.sm="100">
            
            
                 <h2>Potrait Image</h2>
                
                    <div class="frameBox" [style.border-image]="getSanitizedFrame()">
                        <img [src]="imageInfo.imageURL.big" class="responsive-image"
                            (click)="potraitimageOnClick(imageInfo.imageURL.big)">
                    </div> 
            
        
        </div>
        <div fxFlex="20" class="description" fxFlex.md="100" fxFlex.xs="100" fxFlex.sm="100">
            
                 <h2>Description</h2>
                    <p>{{imageInfo.description}}</p>
                
            
        </div>

    </div>


