<div class="frame-choice">
    <h1> Choose Image Frame</h1>
    <mat-grid-list cols="2">
        <mat-grid-tile>
            <div class="demo">
                <div class="frame-1"></div>
                <button class="hero-button" mat-flat-button color="primary" (click)="uploadImage()">Frame 1</button>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="demo">
                <div class="frame-2"></div>
                <button class="hero-button" mat-flat-button color="primary" (click)="uploadImage()">Frame 2</button>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div> 
