<section id="image-uploader">
    <div class="frame-choice">
        <h1>Welcome to image Upload Center</h1>
        <p>
            <button mat-raised-button (click)="openDialog()">Start</button>
        </p>
    </div>
    <!-- <div class="frame-choice">
        <h1>Welcome to image Upload Center</h1>
        <h3>Start by choosing Image Frame</h3>
        <mat-grid-list cols="2">
            <mat-grid-tile>
                <div class="demo">
                    <div class="frame-1"></div>
                    <button (click)="chooseFrame()">Vertical View</button>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="demo">
                    <div class="frame-2"></div>
                    <button>Horizontal View</button>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div> 
    
    <div class="image-info">
        <h1>Write Image Information</h1>
        <h3>Fill out the Form</h3>
        <div class="form">
            <p>
                <mat-form-field appearance="fill">
                    <input matInput placeholder="Title" required>
                    <mat-error *ngIf="titleFormControl.invalid">{{getRequiredErrorMessage('tile')}}</mat-error>                
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <input matInput placeholder="Title" required>
                    <mat-error *ngIf="titleFormControl.invalid">{{getRequiredErrorMessage('tile')}}</mat-error>                
                </mat-form-field>
            </p>
                <mat-form-field appearance="fill">
                    <input matInput placeholder="Title" required>
                    <mat-error *ngIf="titleFormControl.invalid">{{getRequiredErrorMessage('tile')}}</mat-error>                
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <input matInput placeholder="Description" required >
                    <mat-error *ngIf="descriptionFormControl.invalid">{{getRequiredErrorMessage('description')}}</mat-error>                
                </mat-form-field>
                <button type="button" mat-raised-button >save</button>
        </div>
    </div> -->
</section>