<body>
    <mat-drawer-container class="adminContainer" autosize opened="true">
        <mat-drawer #drawer class="example-sidenav" mode="side">
            <!-- <p>Auto-resizing sidenav</p> -->

            <h3 *ngIf="showFiller">Show & Edit</h3>
            <div fxLayout="column">
                <button class="editButton" (click)="showFiller = !showFiller" mat-raised-button color="primary">
                    Galleries
                </button>
                <button class="editButton" (click)="showFiller = !showFiller" mat-raised-button color="primary">
                    Images
                </button>
                <button class="editButton" (click)="showFiller = !showFiller" mat-raised-button color="primary">
                    Testimonials
                </button>
                <button class="editButton" (click)="showFiller = !showFiller" mat-raised-button color="primary">
                    Orders
                </button>
            </div>
        </mat-drawer>
        <section id="image-uploader">
            <div class="frame-choice">
                <h1>Add Gallery Type</h1>
                <p>
                    <button mat-flat-button color="primary" class="frameButton"
                        (click)="openGalleryType()">Start</button>
                </p>
            </div>
            <div class="testimonialTable">
                <table mat-table [dataSource]="dataSourceGalleries" matSort>
                    <ng-container matColumnDef="galleryName">
                        <th mat-header-cell *matHeaderCellDef> Gallery Name </th>
                        <td mat-cell *matCellDef="let element ">
                            {{element.galleryName}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="galleryType">
                        <th mat-header-cell *matHeaderCellDef> Gallery Name </th>
                        <td mat-cell *matCellDef="let element ">
                            {{element.galleryType}}
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsGalleries"></tr>
                    <tr mat-row *matRowDef="let element; columns: displayedColumnsGalleries;"></tr>
                </table>
            </div>

        </section>

        <section id="image-uploader">
            <div class="frame-choice">
                <h1>Add Paintings</h1>
                <p>
                    <button mat-flat-button color="primary" class="frameButton" (click)="openDialog()">Start</button>
                </p>
                <div class="testimonialTable">
                    <table mat-table [dataSource]="dataSourceImages">
                        <ng-container matColumnDef="galleryName">
                            <th mat-header-cell *matHeaderCellDef> Gallery Name </th>
                            <td mat-cell *matCellDef="let element ">
                                {{element.galleryName}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="title">
                            <th mat-header-cell *matHeaderCellDef>Title</th>
                            <td mat-cell *matCellDef="let element ">
                                {{element.title}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="artist">
                            <th mat-header-cell *matHeaderCellDef>Artist</th>
                            <td mat-cell *matCellDef="let element ">
                                {{element.artist}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="description">
                            <th mat-header-cell *matHeaderCellDef>Description</th>
                            <td mat-cell *matCellDef="let element ">
                                {{element.description}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="medium">
                            <th mat-header-cell *matHeaderCellDef>Medium</th>
                            <td mat-cell *matCellDef="let element ">
                                {{element.medium}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="orientation">
                            <th mat-header-cell *matHeaderCellDef>Orientation</th>
                            <td mat-cell *matCellDef="let element ">
                                {{element.orientation}}
                            </td>
                        </ng-container>
                         <ng-container matColumnDef="price">
                            <th mat-header-cell *matHeaderCellDef>Price</th>
                            <td mat-cell *matCellDef="let element ">
                                {{element.price}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="size">
                            <th mat-header-cell *matHeaderCellDef>Size</th>
                            <td mat-cell *matCellDef="let element ">
                                {{element.size}}
                            </td>
                        </ng-container> 
                        <ng-container matColumnDef="frame">
                            <th mat-header-cell *matHeaderCellDef>Framed</th>
                            <td mat-cell *matCellDef="let element ">
                                {{element.frame}}
                            </td>
                        </ng-container>


                        <tr mat-header-row *matHeaderRowDef="displayedColumnsImages"></tr>
                        <tr mat-row *matRowDef="let element; columns: displayedColumnsImages;"></tr>
                    </table>
                </div>
            </div>

        </section>

        <section id="image-uploader">
            <div class="frame-choice">
                <h1>Add Testimonials</h1>
                <p>
                    <button mat-flat-button color="primary" class="frameButton"
                        (click)="openTestimonial()">Start</button>
                </p>
            </div>
            <!-- <mat-form-field>
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
            </mat-form-field> -->

            <div class="testimonialTable">
                <table mat-table [dataSource]="dataSourceTesti" matSort>
                    <ng-container matColumnDef="userName">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let element ;let index = index">
                            <editable (update)="updateField(index, 'userName')">
                                <ng-template viewMode>
                                    <div>{{element.userName}}</div>
                                </ng-template>
                                <ng-template editMode>
                                    <mat-form-field class="example-full-width">
                                        <input matInput [formControl]="getControl(index, 'userName')">
                                        <mat-error *ngIf="getControl(index, 'userName').hasError('required')">
                                            Field is <strong>required</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </ng-template>
                            </editable>
                        </td>


                    </ng-container>

                    <ng-container matColumnDef="description">
                        <th mat-header-cell *matHeaderCellDef> Description </th>
                        <td mat-cell *matCellDef="let element ;let index = index">
                            <editable (update)="updateField(index, 'description')">
                                <ng-template viewMode>
                                    <div>{{element.description}}</div>
                                </ng-template>
                                <ng-template editMode>
                                    <mat-form-field class="example-full-width">
                                        <input matInput [formControl]="getControl(index, 'description')">
                                        <mat-error *ngIf="getControl(index, 'description').hasError('required')">
                                            Field is <strong>required</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </ng-template>
                            </editable>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="rating">
                        <th mat-header-cell *matHeaderCellDef> Rating </th>
                        <td mat-cell *matCellDef="let element ;let index = index">
                            <editable (update)="updateField(index, 'rating')">
                                <ng-template viewMode>
                                    <div>{{element.userRating}}</div>
                                </ng-template>
                                <ng-template editMode>
                                    <mat-form-field class="example-full-width">
                                        <input matInput [formControl]="getControl(index, 'rating')">
                                        <mat-error *ngIf="getControl(index, 'rating').hasError('required')">
                                            Field is <strong>required</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </ng-template>
                            </editable>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="address">
                        <th mat-header-cell *matHeaderCellDef> Address </th>
                        <td mat-cell *matCellDef="let element ;let index = index">
                            <editable (update)="updateField(index, 'address')">
                                <ng-template viewMode>
                                    <div>{{element.userAddress}}</div>
                                </ng-template>
                                <ng-template editMode>
                                    <mat-form-field class="example-full-width">
                                        <input matInput [formControl]="getControl(index, 'address')">
                                        <mat-error *ngIf="getControl(index, 'address').hasError('required')">
                                            Field is <strong>required</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </ng-template>
                            </editable>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef> Email </th>
                        <td mat-cell *matCellDef="let element ;let index = index">
                            <editable (update)="updateField(index, 'email')">
                                <ng-template viewMode>
                                    <div>{{element.email}}</div>
                                </ng-template>
                                <ng-template editMode>
                                    <mat-form-field class="example-full-width">
                                        <input matInput [formControl]="getControl(index, 'email')">
                                        <mat-error *ngIf="getControl(index, 'email').hasError('required')">
                                            Field is <strong>required</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </ng-template>
                            </editable>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumnsTesti"></tr>
                    <tr mat-row *matRowDef="let element; columns: displayedColumnsTesti;"></tr>

                    <!-- <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                    </tr> -->

                </table>

                <!-- <mat-paginator [pageSizeOptions]="[3, 5, 10, 20]" showFirstLastButtons></mat-paginator> -->
            </div>

        </section>
        <div class="example-sidenav-content">
            <button type="button" mat-button (click)="drawer.toggle()">
                Toggle sidenav
            </button>
        </div>

    </mat-drawer-container>


</body>