.image-uploader-inner{
    align-items: center;
    text-align: center;
}
.image-uploader-inner h1{
    font-size: 2.5em;
    
}
.image-uploader-inner h2{
    font-size: 1.5em;
    
}
.upload-button{
    padding: .5em .5em;
}