<nav class="navbar navbar-transparent navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100"
    id="sectionsNav">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="https://galleryreflection.com/">
                Reflection </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="dropdown nav-item">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <i class="material-icons">apps</i> Menu
                    </a>
                    <div class="dropdown-menu dropdown-with-icons">
                        <a href="/" class="dropdown-item">
                            <i class="material-icons">home</i> Home
                        </a>
                        <a href="about" class="dropdown-item">
                            <i class="material-icons">groups</i> About Us
                        </a>
                        <a href="reviews" class="dropdown-item">
                            <i class="material-icons">content_paste</i> Reviews
                        </a>
                        <a href="exhibitions" class="dropdown-item">
                            <i class="material-icons">burst_mode</i> Art Exhibition
                        </a>
                        <a href="paintings" class="dropdown-item">
                            <i class="material-icons">shopping_bag</i> Buy Paintings
                        </a>
                        <a href="photo-to-art" class="dropdown-item">
                            <i class="material-icons">compare</i> Photo To Art
                        </a>
                        <a href="art-reproduction" class="dropdown-item">
                            <i class="material-icons">color_lens</i> Art Reproduction
                        </a>
                        <a href="faq" class="dropdown-item">
                            <i class="material-icons">question_answer</i> FAQ
                        </a>
                        <a href="contact" class="dropdown-item">
                            <i class="material-icons">contact_support</i> Contact Us
                        </a>
                        <a href="login/artist" class="dropdown-item">
                            <button type="button" class="btn btn-primary">
                                Join As An Artist
                            </button>
                        </a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="cart">
                        <i class="material-icons">shopping_cart</i> Cart
                    </a>
                </li>
                <li class=" dropdown nav-item" *ngIf="false">
                    <a class="nav-link" href="https://www.creative-tim.com/product/material-kit-pro" target="_blank">
                        <i class="material-icons">login</i> Login
                    </a>
                </li>
                <li class="dropdown nav-item">
                    <a href="#" class="nav-link" data-toggle="dropdown">
                        <div class="avatar">
                            <img src="../assets/img/faces/christian.jpg" alt="Circle Image"
                                class="img-raised rounded-circle img-fluid">
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-with-icons">
                        <a class="dropdown-item">
                            Customer
                        </a>
                        <a href="cart" class="dropdown-item">
                            <i class="material-icons">shopping_cart</i> Shopping Cart<span
                                class="nav-badge badge badge-primary">4</span>
                        </a>
                        <a href="user/dashboard"
                            class="dropdown-item">
                            <i class="material-icons">ballot</i> My Orders
                        </a>
                        <a href="user/dashboard"
                            class="dropdown-item">
                            <i class="material-icons">account_circle</i> Profile
                        </a>
                        <a href="/"
                            class="dropdown-item">
                            <i class="material-icons">subdirectory_arrow_left </i> Logout
                        </a>
                        <a class="dropdown-item">
                            Artist
                        </a>
                        <a href="artist/dashboard" class="dropdown-item">
                            <i class="material-icons">account_circle</i> Profile
                        </a>
                        <a href="artists"
                            class="dropdown-item">
                            <i class="material-icons">people</i> Meet
                        </a>
                        <a href="/"
                            class="dropdown-item">
                            <i class="material-icons">subdirectory_arrow_left</i> Logout
                        </a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="" data-placement="bottom"
                        href="" target="_blank"
                        data-original-title="Follow us on Twitter" rel="nofollow">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="" data-placement="bottom"
                        href="" target="_blank"
                        data-original-title="Like us on Facebook" rel="nofollow">
                        <i class="fa fa-facebook-square"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="" data-placement="bottom"
                        href="" target="_blank"
                        data-original-title="Follow us on Instagram" rel="nofollow">
                        <i class="fa fa-instagram"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>