.testi-uploader-inner{
    align-items: center;
    text-align: center;
 }
 .testi-uploader-inner h1{
    text-align: center;
     font-size: 2em;
    padding-top: .05em;
 }
 .testi-uploader-inner h3{
    text-align: center;
    
    font-size: 1.5em;
    padding-top: .05em;
 }
 .publish-testimonial{
    align-items: center;
    text-align: center;
 }
 .testi-info{
   align-items: center;
   text-align: center;
 }
 @media only screen and (min-width: 850px) {
  .field-form{
    width: 300px;
  }

 }
 .publish-testimonial h2{
    align-content: center;
    align-items: center;
    
     font-size: 2em;
     justify-content: center;
     padding: .5em 1em;
 }
 .upload-button{
   align-content: center;
   align-items: center;
   margin-top: 10px;
    font-size: 1em;
    justify-content: center;
    color: white;
 }
 .backNextImage{
    align-items: center;
    text-align: center;
    padding: .5em;
    color: white;
  }
  .backNextImage-button{
   align-items: center;
   text-align: center;
   padding: .25em 1.5em;
   color: white;
 }
 .stars{
   align-items: center;
   text-align: center;
 }
 .cont{
   align-items: center;
   text-align: center;
 }
 .cont h1{
   align-items: center;
   text-align: center;
   font-size: 2em;
 }
 @media screen and  (max-width: 850px){
  ::ng-deep .mat-horizontal-stepper-header-container {
    width: 200px;
  }
 }
 ::ng-deep .mat-horizontal-stepper-header{
  pointer-events: none !important;
 }

.close-button-wrapper {
  display: flex;
  align-items: end;
}

.close-icon {
  transition: 1s ease-in-out;
}

.close-icon:hover {
  transform: rotate(180deg);
}
::ng-deep .mat-horizontal-stepper-header-container {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 300px;
  float: none;
  justify-content: center !important;
  text-align: center !important;
  margin: auto;
  
}
::ng-deep .mat-stepper-horizontal-line{
    display: none;
    padding: 0em;
    width: 0%;
}