<section id="image-upload-center">
  
    <div fxLayout="row" fxLayoutAlign="end center" >

      <button mat-icon-button class="close-button" [mat-dialog-close]="true">
        <mat-icon class="close-icon" color="primary">close</mat-icon>
      </button><br>
    </div>
    <div class="imageLoad">
      <mat-horizontal-stepper  linear #stepper>
        <!-- #docregion label -->
        <mat-step >
          <div class="typeSelection">
            <h1>Choose Photo Type</h1>
            <mat-form-field class="imageType">
    
              <mat-label class="type">Select an option</mat-label>
              <mat-select [(value)]="selectedType">
                <mat-option *ngFor="let imageType of imageTypes | async" [value]="imageType.payload.val()">
                  {{imageType.payload.val()}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="backNextImage">
            <button mat-flat-button color="primary" class="backNextImage-button" (click)="next(stepper, 1)">Next</button>
          </div>
        </mat-step>
        <mat-step >
          <div class="view-choice">
            <h1>Choose Orientation</h1>
            <mat-radio-group [(ngModel)]="selectedOrientation">
              <mat-grid-list [cols]="breakpoint" (window:resize)="onResize($event)">
                <mat-grid-tile>
                  <div class="view">
                    <div class="frame">
                      <div class="vl1">
                      </div>
                      <div class="vl2">
                      </div>
                    </div>
                    <mat-radio-button color="primary" (click)="chooseView('vertical')" value="vertical">Vertical
                    </mat-radio-button>
                  </div>
                  <!-- </div> -->
                </mat-grid-tile>
                <mat-grid-tile>
                  <div class="view">
                    <div class="frame">
                      <div class="ho1">
                      </div>
                      <div class="ho2">
                      </div>
                    </div>
                    <mat-radio-button color="primary" (click)="chooseView('horizontal')" value="horizontal">Horizontal
                    </mat-radio-button>
                  </div>
                </mat-grid-tile>
              </mat-grid-list>
            </mat-radio-group>
          </div>
          <div class="backNextImage">
            <button mat-flat-button color="primary" class="backNextImage-button" matStepperPrevious>Back</button>&nbsp;
            <button mat-flat-button color="primary" class="backNextImage-button" (click)="next(stepper, 2)">Next</button>
          </div>
        </mat-step>
        <!-- #enddocregion label -->
        <mat-step >
          <div class="frame-uploader-inner">
            <h1>Choose Frame image</h1>
            <p>Supported Formats: JPG, PNG</p>
            <div fxLayout="row" fxLayoutAlign="center center">
              <div class="frameBox" *ngIf="isFrameSubmitted" [style.border-image]="getSanitizedFrame()"></div>
            </div>
            <button class="upload-button" mat-flat-button color="primary" (click)="frameInput.click()">Choose Frame</button>
            <div *ngIf="isFrameSubmitting">
              <mat-progress-bar mode="indeterminate" class="progress-bar"></mat-progress-bar>
            </div>
            <input hidden (change)="onFrameSelected()" #frameInput type="file" id="frameFile">
            &nbsp;&nbsp;
          </div>
          <div class="backNextImage">
            <button mat-flat-button color="primary" class="backNextImage-button" matStepperPrevious>Back</button>&nbsp;
            <button mat-flat-button color="primary" class="backNextImage-button" (click)="next(stepper, 3)">Next</button>
          </div>
        </mat-step>
        <mat-step>
          <div class="image-uploader-inner">
            <h1>Choose Image </h1>
            <p>Supported Formats: JPG,PNG</p>
            <div fxLayout="row" fxLayoutAlign="center center">
              <img *ngIf="isImageSubmitted" [src]="selectedImageURL" class="imageBox" width="400" height="400">
            </div>
            <div *ngIf="isImageSubmitting">
              <mat-progress-bar mode="indeterminate" class="progress-bar"></mat-progress-bar>
            </div>
            <button class="upload-button" mat-flat-button color="primary" (click)="imageInput.click()">Choose Image</button>
            <input hidden (change)="onImageSelected()" #imageInput type="file" id="imageFile">
            &nbsp;&nbsp;
          </div>
          <div class="backNextImage">
            <button mat-flat-button color="primary" class="backNextImage-button" matStepperPrevious>Back</button>&nbsp;
            <button mat-flat-button color="primary" class="backNextImage-button" (click)="next(stepper, 4)">Next</button>
          </div>
        </mat-step>
        <mat-step>
          <div class="image-info">
            <h1>Write Image Information</h1>
            <div fxLayout="column" fxLayoutAlign="center center">
            <mat-form-field appearance="fill">
              <mat-label>Title</mat-label>
              <input matInput placeholder="Image Title" [formControl]="title" required (keyup)="addTitle($event)">
              <mat-error *ngIf="title.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Description</mat-label>
              <input matInput placeholder="Image Description" [formControl]="description" required
                (keyup)="addDescription($event)">
              <mat-error *ngIf="description.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>
          </div>
          <div class="backNextImage">
            <button mat-flat-button color="primary" class="backNextImage-button" matStepperPrevious>Back</button>&nbsp;
            <button mat-flat-button color="primary" class="backNextImage-button" (click)="next(stepper, 5)">Next</button>
          </div>
        </mat-step>
        <mat-step >
          <div class="publish-image">
            <div class="final-image">
              <div fxLayout="row" fxLayoutAlign="center center">
                <div class="frameBox" *ngIf="isFrameSubmitted" [style.border-image]="getSanitizedFrame()">
                  <img *ngIf="isImageSubmitted" [src]="selectedImageURL" class="imageBox">
                </div>
              </div>
              <div fxLayout="column" fxLayoutAlign="center center">
                <p>Title: {{selectedTitle}}</p>
                <p>Description: {{selectedDescription}}</p>
              </div>
            </div>
            <div class="publish-button">
              <button mat-flat-button color="primary" class="backNextImage-button" (click) = "publish()">Publish</button>
            </div>
          </div>
          <div class="backNextImage">
            <button mat-flat-button color="primary" class="backNextImage-button" matStepperPrevious>Back</button>&nbsp;
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
  </section>