.image-upload-center{
   justify-content: center;
   align-items: center;
   text-align: center;
}
.imageType{
        align-content: center;
       align-items: center;
       justify-content: center;
       border: white; 
       padding: .35em; 
       width: 300px;
}
.image-info h1{
   align-content: center;
       align-items: center;
       justify-content: center;
       text-align: center;
}
 .imageType h2{
       align-content: center;
       align-items: center;
       
      justify-content: center;
      padding: .5em;    
    }
    .type{
        align-content: center;
        align-items: center;
        
      justify-content: center !important;
      padding: .5em;  
     }
     .typeSelection{
       align-items: center;
       text-align: center;
       justify-self: center !important;
       width: 100%;
     }
     .backNextImage{
       align-items: center;
       text-align: center;
       padding: .5em;
       color: white;
     }
     .backNextImage-button{
      align-items: center;
      text-align: center;
      padding: .25em 1.5em;
      color: white;
    }
     .view-choice{
       /* padding: 10px 10px 10px 10px; */
       box-sizing: border-box;
       border-color: #CFCFCF;
       text-align: center;
       align-items: center;
    }
    .view-choice h1{
       text-align: center;
       
        font-size: 2em;
       padding-top: .5em;
    }
    .view-choice h3{
       text-align: center;
       
       font-size: 1.5em;
       padding-top: .5em;
    }
    .frame{
       width: 300px;
       height: 250px;
       border: 3px solid #ccc;
       background: #eee;
       margin: auto;
       padding: 10px 10px;
    }
    .vl1{
            background-color: Gray;
            width:49%;
            height:100%;
            float:left;
            border: 1.5px solid black;
   }
   .vl2{
         background-color: Gray;
         width:49%;
         height:100%;
         float: right;
         border: 1.5px solid black;
        }
.ho1{
         background-color: Gray;
         width:100%;
         height: 50%;
         border: 1.5px solid black;
}
.ho2{
      background-color: Gray;
      width:100%;
      height:50%;
      border: 1.5px solid black;
}
    .view-button{
       margin: .15em;
       color: white;
    }
    .frame-uploader-inner{
       align-items: center;
       text-align: center;
    }
    .frame-uploader-inner h1{
       text-align: center;
       
        font-size: 2em;
       padding-top: .15em;
    }
    .frame-uploader-inner h3{
       text-align: center;
       
       font-size: 1.5em;
       padding-top: .05em;
    }
    .image-uploader-inner{
       align-items: center;
       text-align: center;
    }
    .image-uploader-inner h1{
       text-align: center;
       
        font-size: 2em;
       padding-top: .05em;
    }
    .image-uploader-inner h3{
       text-align: center;
       
       font-size: 1.5em;
       padding-top: .05em;
    }
    .publish-image{
       align-items: center;
       text-align: center;
    }
    .publish-image h2{
       align-content: center;
       align-items: center;
       
        font-size: 2em;
        justify-content: center;
        padding: 1.5em 2em;
    }
    .upload-button{
      margin-top: 10px;
      align-content: center;
      align-items: center;
      
       font-size: 1em;
       justify-content: center;
       color: white;
    }

    h1 {
       padding: 30px;
       color: #b47a15;
    }
    mat-radio-button{
       padding-top: 10px;
    }

    .frameBox {
       width: 480px;
       height: 320px;
       border: 20px solid transparent;
    }

    .progress-bar {
      margin: 20px;
    }

    img {
      display: block;
      min-width: 480px;
      min-height: 320px;
      max-width: 480px;
      max-height: 320px;
    }

    .publish-button {
      padding-top: 10px;
    }
    ::ng-deep .mat-horizontal-stepper-header{
      pointer-events: none !important;
    }
    .closeButton{
       float: left;
    }
    