<div class="frame-choice">
    <h1>Welcome to image Upload Center</h1>
    <h3>Start by choosing Image Frame</h3>
    <mat-grid-list cols="2">
        <mat-grid-tile>
            <div class="demo">
                <div class="frame-1"></div>
                <button (click)="chooseFrame()">Vertical View</button>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="demo">
                <div class="frame-2"></div>
                <button>Horizontal View</button>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div> 