<body>
    <div>
        <div class="homepage">
            <mat-toolbar color="#584b53" class="navbar">
                <button mat-icon-button disableRipple>
                    <img class="homeicon" src="..\assets\icon.png" height="30px" width="30px">
                </button>

                <span class="spacer" style="font-family:Montserrat">

                    <div fxShow="true" fxHide.lt-md="true">
                        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
                        <a href="#" mat-button [matMenuTriggerFor]="menu" disableRipple>HOME</a>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item>Item 1</button>
                            <button mat-menu-item>Item 2</button>
                        </mat-menu>
                        <a href="#" mat-button disableRipple>ABOUT</a>
                        <a href="#" mat-button [matMenuTriggerFor]="menu" disableRipple>SHOP</a>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item>Item 1</button>
                            <button mat-menu-item>Item 2</button>
                        </mat-menu>
                        <a href="#" mat-button [matMenuTriggerFor]="menu" disableRipple>PAGES</a>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item>Item 1</button>
                            <button mat-menu-item>Item 2</button>
                        </mat-menu>
                        <a href="#" mat-button disableRipple>JOURNAL</a>
                        <a href="#" mat-button disableRipple>CONTACT</a>
                    </div>
                </span>
                <span style="font-family:Montserrat">
                    <div class="create">
                        <button mat-flat-button color="primary" disableRipple>CREATE YOUR POTRAIT</button>
                    </div>
                </span>

                <div fxShow="true" fxHide.gt-sm="true">
                    <a href="#" (click)="sidenav.toggle()">
                        <img src='https://material.io/resources/icons/?icon=menu&style=baseline'>
                    </a>
                </div>
            </mat-toolbar>
            <mat-sidenav-container fxFlexFill class="example-container">
                <mat-sidenav #sidenav fxLayout="row wrap">
                    <div fxLayout="column">
                        <a (click)="sidenav.toggle()" href="#" mat-button></a>
                        <a href="#" mat-button [matMenuTriggerFor]="menu" disableRipple>Home</a>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item disableRipple>Item 1</button>
                            <button mat-menu-item disableRipple>Item 2</button>
                        </mat-menu>
                        <a mat-button disableRipple>About</a>
                        <a href="#" mat-button [matMenuTriggerFor]="menu" disableRipple>Shop</a>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item disableRipple>Item 1</button>
                            <button mat-menu-item disableRipple>Item 2</button>
                        </mat-menu>
                        <a href="#" mat-button [matMenuTriggerFor]="menu" disableRipple>Pages</a>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item disableRipple>Item 1</button>
                            <button mat-menu-item disableRipple>Item 2</button>
                        </mat-menu>
                        <a mat-button disableRipple>Journal</a>
                        <a mat-button disableRipple>Contact</a>
                    </div>
                </mat-sidenav>
                <mat-sidenav-content fxFlexFill>
                    <section class="hero">
                        <div class="hero-inner">
                            <h1>Website Tagline</h1>
                            <h2>Look at this website and bask in its amazing glory!</h2>
                            <button mat-flat-button color="primary">Warn</button>
                        </div>
                    </section>
                </mat-sidenav-content>
            </mat-sidenav-container>
            <section class="text-center my-5">
                <h2 class="h1-responsive font-weight-bold my-5"></h2>
                <mdb-carousel [isControls]="false" [animation]="'slide'" class="testimonial-carousel">
                    <mdb-slide>
                        <div class="testimonial" fxShow="true" fxLayout="row">
                            <button mat-button>LEFT</button>
                            <div class="avatar mx-auto mb-4">
                                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg"
                                    class="rounded-circle img-fluid" alt="First sample avatar image">
                            </div>
                            <p>
                                <mdb-icon fas icon="quote-left"></mdb-icon> This is a good site!
                            </p>
                            <h4 class="font-weight-bold">Anna Deynah</h4>
                            <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
                            <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
                            <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
                            <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
                            <mdb-icon fas icon="star-half" class="blue-text"> </mdb-icon>
                            <button mat-button>RIGHT</button>
                        </div>
                    </mdb-slide>
                </mdb-carousel>
            </section>
            <!-- <ngb-carousel *ngIf="images">
                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                        <img [src]="images[0]" alt="Random first slide">
                    </div>
                    <div class="carousel-caption">
                        <h3>First slide label</h3>
                        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                        <img [src]="images[1]" alt="Random second slide">
                    </div>
                    <div class="carousel-caption">
                        <h3>Second slide label</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                        <img [src]="images[2]" alt="Random third slide">
                    </div>
                    <div class="carousel-caption">
                        <h3>Third slide label</h3>
                        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                    </div>
                </ng-template>
            </ngb-carousel> -->
        </div>
    </div>
</body>