.body{
    margin: 0px;
    font-family: 'Montserrat';
    background: white;
    font-size: 12px;
}

.top-comtainer{
    display: grid;
    grid-gap: 20px;

}
.navbar {
    height: 10vh;
}

.hero {
    /* Sizing */
    width: 100vw;
    height: 90vh;
    
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Text styles */
    text-align: center;
    color: white;
    
    /* Background styles */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('/assets/Cover.jpeg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

.hero h1 {
    /* Text styles */
    font-size: 5em;
    
    /* Margins */
    margin-top: 0;
    margin-bottom: 0.5em;
}

.hero button {
    /* Positioning and sizing */
    display: block;
    width: 200px;
    
    /* Padding and margins */
    padding: 0.5em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    
    /* Text styles */
    color: white;
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'Montserrat';
    
    /* Border styles */
    border: 3px solid white;
    
    /* Background styles */
    background-color: #fef5ef;
    color: black;
}

.hero button:hover {
    background-color: #dca47f;
    color: black;
}

@media(min-width: 1080px) {
    .hero {
        /* Sizing */
        width: 100vw;
        height: 96vh;
  }
  .navbar {
    height: 6vh;
}
}
.gallery{
    /* Sizing */
    width: 100vw;
    height: 100vh;
    
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
}
.gallery-inner{
    /* padding: 10px 10px 10px 10px; */
    box-sizing: border-box;
    border-color: #CFCFCF;
    margin-bottom: 20px
    
}
.gallery h1{
    text-align: center;
    font-size: 30px;
    padding-bottom: 2em;
}