.mat-grid-tile{
    background-color: lightgreen;
    -webkit-font-smoothing: antialiased;
    text-transform: inherit;
    text-decoration: inherit;
    font-size: 12px;
}

.body{
    margin: 0px;
    font-family: 'Montserrat';
    background: white;
    font-size: 12px;
}
.mat-raised-button{
    display: inline-block;
    background: #fef5ef;
    padding: 1em 2em;
    border: none;
    margin: .5em 0;
    font-size: 12px;  
    font-family: 'Montserrat';  
    
}
.bg-image-demo{
    position: absolute;
    background: url("/assets/featured.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 650px;
    z-index: -1;
    
}
.top-comtainer{
    display: grid;
    grid-gap: 20px;

}
.showcase{
    min-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.showcase h4{
    font-family: 'Montserrat';
    font-size: 9px;
    text-align: center;
    z-index: 5;
    line-height: 9px;
    font-weight: 700;

}

.showcase h1{
    font-family: 'Montserrat';
    font-size: 20px;
}

.navbar {
    height: 10vh;
}

.hero {
    /* Sizing */
    width: 100vw;
    height: 90vh;
    
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Text styles */
    text-align: center;
    color: white;
    
    /* Background styles */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('/assets/Cover.jpeg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero h1 {
    /* Text styles */
    font-size: 5em;
    
    /* Margins */
    margin-top: 0;
    margin-bottom: 0.5em;
}

.hero button {
    /* Positioning and sizing */
    display: block;
    width: 200px;
    
    /* Padding and margins */
    padding: 1em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    
    /* Text styles */
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    
    /* Border styles */
    border: 3px solid white;
    
    /* Background styles */
    background-color: #fef5ef;
    color: black;
}

.hero button:hover {
    background-color: #dca47f;
    color: black;
}

@media(min-width: 1080px) {
    .hero {
        /* Sizing */
        width: 100vw;
        height: 90vh;
  }
  .navbar {
    height: 10vh;
}
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .example-card {
    max-width: 300px;
    margin: 4px
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }