mat-card {
   margin-bottom: 10px;
  }
  
  .mr-10 {
    margin-right: 10px;
  }
  
  .ml-10 {
    margin-left: 10px;
  }
  .frameButton{
    align-content: center;
      align-items: center;
       justify-content: center;
      margin: 5px;
      color: #b47a15;
      border: 2px solid #b47a15;
}
.sold{
  font-weight: bold;
  color: red;
  margin: 5px;
}
.linkto{
  align-content: center;
    align-items: center;
     font-size: 1em;
     justify-content: center;
    margin: 5px;
    color: #b47a15;
}
.image{
  object-fit: contain;
   max-width: 100%;
   max-height: calc(100% - 88px);
   width: auto;
   height: auto;
   margin: auto;
   display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2px;
}
/* .secondimage{
  object-fit: contain;
   max-width: 300px;
   max-height: 300px;
   margin: auto;
   display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2px;
    width: auto;
   height: auto;
} */
@media screen and (max-width : 480px) {
  .demo{
    margin: 5px;
  }
}
.page ::ng-deep .ngx-pagination a:hover {
  color:  #b47a15;
  }
.page ::ng-deep .ngx-pagination .current {
    background-color: #b47a15 ;
}

.page {
  display: flex;
  justify-content: center;
} 
.demo{
  border: 2px solid #b47a15;
  /* max-width: 400px; */

}

.buypage{
min-height: 90vh;
min-height: 90vh;
align-items: center;
display: flex;
justify-content: center;
padding-left: 2%;
padding-right: 2%;
}

 /* @media screen and (min-width : 1280px) { 
  .outer {
    padding-left: 10%;
  }

}

@media screen and (max-width : 480px) { 
  .outer {
    padding: 5px;
  }
  .secondimage{
    height: 300px;
    width: 300px;
  }
} */
