mat-card {
    margin-bottom: 10px;
  }
  
  .mr-10 {
    margin-right: 10px;
  }
  
  .ml-10 {
    margin-left: 10px;
  }
  .frameButton{
    align-content: center;
      align-items: center;
       font-size: 1em;
       justify-content: center;
       color: white;
      margin: 5px;
}