.publish-image{
    align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;
}
.publish-image h2{
    justify-content: center;
    padding: 1em;
    font-size: 2em;
    font-family: 'Montserrat';
}
.publish-button{
    padding-top: 4em;
    align-items: center;
    justify-content: center;
    display: flex;
}