.nav-item {
    min-width: 180px;
}
.vertical-center {
    min-height: 400px;
    display: flex;
    align-items: center;
    cursor: pointer;
    .upload-wrapper-icon{
        font-size: 90px;
        color: #555555;
    }
}

.input-group-addon.addon-inline {
	background: #fff;
	border-left: none;
}
    
.input-group .form-control.addon-inline {
	border-right: none;
	padding-right: 5px;
}

.unit {
    display: flex;
    align-items: center;
}
.imageBox{
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    margin: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.ui-datepicker-calendar {
    display: none;
}
.artwork-pill {
    background: #ffffff;
}

.image-uploader {
    border: 1px dashed #9c27b0;
}
.image-uploader:hover {
    background: #dddddd;
}
.artwork { transition: all .2s ease-in-out; }
.artwork:hover {
    transform: scale(1.1);
}

.row_wshop {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
    padding: 0 4px;
  }
  .column_wshop {
    -ms-flex: 25%;
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  .column_wshop img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }