<div class="profile-page sidebar-collapse">
    <div class="page-header header-filter" data-parallax="true"
        style="background-image: url('../assets/img/city-profile.jpg');"></div>
    <div class="main main-raised">
        <div class="profile-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 ml-auto mr-auto">
                        <div class="profile">
                            <div class="avatar">
                                <img alt="Circle Image" class="img-raised rounded-circle img-fluid">
                            </div>
                            <div class="name">
                                <h3 class="title">{{user.displayName}}</h3>
                                <h6>Artist <i class="fa fa-edit edit-icon"></i> </h6>
                                <button class="btn btn-just-icon btn-link btn-dribbble" href="" data-toggle="popover"
                                    title="Country Of Residence" data-trigger="focus" data-content="Russia"><i
                                        class="material-icons">home</i></button>
                                <button class="btn btn-just-icon btn-link btn-dribbble" href="" data-toggle="popover"
                                    title="Date Of Birth" data-trigger="focus" data-content="12/12/2012"> <i
                                        class="material-icons">perm_contact_calendar</i></button>
                                <button class="btn btn-just-icon btn-link btn-dribbble" href="" data-toggle="popover"
                                    title="Phone Number" data-trigger="focus" data-content="+1234223423"><i
                                        class="material-icons">phone</i></button>
                                <button class="btn btn-just-icon btn-link btn-dribbble" href="" data-toggle="popover"
                                    title="Email" data-trigger="focus" data-content="user.email"><i
                                        class="material-icons">mail</i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="description text-center">

                    <p>An artist of considerable range, Chet Faker &#x2014; the name taken by Melbourne-raised,
                        Brooklyn-based Nick Murphy &#x2014; writes, performs and records all of his own music, giving it
                        a warm, intimate feel with a solid groove structure. </p>
                </div>
                <div class="row">
                    <div class="ml-auto mr-auto">
                        <div class="profile-tabs">
                            <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#artwork" role="tab" data-toggle="tab">
                                        <i class="material-icons">collections</i> Art Works
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#education" role="tab" data-toggle="tab">
                                        <i class="material-icons">school</i> Education/Training
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#workshops" role="tab" data-toggle="tab">
                                        <i class="material-icons">reduce_capacity</i> Workshops
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#artcamps" role="tab" data-toggle="tab">
                                        <i class="material-icons">home_work</i> Art Camps
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#exhibitions" role="tab" data-toggle="tab">
                                        <i class="material-icons">burst_mode</i> Exhibitions
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#awards" role="tab" data-toggle="tab">
                                        <i class="material-icons">emoji_events
                                        </i> Awards & Achievements
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tab-content tab-space">
                    <div class="tab-pane active text-center gallery" id="artwork">
                        <div class="pb-5">
                            <button class="btn btn-primary btn-round" data-toggle="modal" data-target="#exampleModal">
                                <i class="material-icons">add</i> Add Art Work
                            </button>
                        </div>
                        <div class="row">
                            <div class="col-md-3 ml-auto">
                                <img src="../assets/img/examples/studio-1.jpg" class="rounded">
                                <img src="../assets/img/examples/studio-2.jpg" class="rounded">
                            </div>
                            <div class="col-md-3 mr-auto">
                                <img src="../assets/img/examples/studio-5.jpg" class="rounded">
                                <img src="../assets/img/examples/studio-4.jpg" class="rounded">
                            </div>
                        </div>

                        <div class="p-5">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item disabled">
                                        <a class="page-link" href="javascript:;" tabindex="-1">Previous</a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="javascript:;">1</a></li>
                                    <li class="page-item active">
                                        <span class="page-link">
                                            2
                                            <span class="sr-only">(current)</span>
                                        </span>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="javascript:;">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="javascript:;">Next</a>
                                    </li>
                                </ul>
                            </nav>

                        </div>

                    </div>
                    <div class="tab-pane text-center gallery" id="education">
                        <div class="pb-5">
                            <button class="btn btn-primary btn-round" data-toggle="modal" data-target="#exampleModal">
                                <i class="material-icons">add</i> Add Education/Training
                            </button>
                        </div>
                        <div class="row">
                            <div class="col-md-3 ml-auto">
                                <img src="../assets/img/examples/olu-eletu.jpg" class="rounded">
                                <img src="../assets/img/examples/clem-onojeghuo.jpg" class="rounded">
                                <img src="../assets/img/examples/cynthia-del-rio.jpg" class="rounded">
                            </div>
                            <div class="col-md-3 mr-auto">
                                <img src="../assets/img/examples/mariya-georgieva.jpg" class="rounded">
                                <img src="../assets/img/examples/clem-onojegaw.jpg" class="rounded">
                            </div>
                        </div>
                        <div class="p-5">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item disabled">
                                        <a class="page-link" href="javascript:;" tabindex="-1">Previous</a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="javascript:;">1</a></li>
                                    <li class="page-item active">
                                        <span class="page-link">
                                            2
                                            <span class="sr-only">(current)</span>
                                        </span>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="javascript:;">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="javascript:;">Next</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="tab-pane text-center gallery" id="workshops">
                        <div class="pb-5">
                            <button class="btn btn-primary btn-round">
                                <i class="material-icons">add</i> Add Workshops
                            </button>
                        </div>
                        <div class="row">
                            <div class="col-md-3 ml-auto">
                                <img src="../assets/img/examples/olu-eletu.jpg" class="rounded">
                                <img src="../assets/img/examples/clem-onojeghuo.jpg" class="rounded">
                                <img src="../assets/img/examples/cynthia-del-rio.jpg" class="rounded">
                            </div>
                            <div class="col-md-3 mr-auto">
                                <img src="../assets/img/examples/mariya-georgieva.jpg" class="rounded">
                                <img src="../assets/img/examples/clem-onojegaw.jpg" class="rounded">
                            </div>
                        </div>
                        <div class="p-5">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item disabled">
                                        <a class="page-link" href="javascript:;" tabindex="-1">Previous</a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="javascript:;">1</a></li>
                                    <li class="page-item active">
                                        <span class="page-link">
                                            2
                                            <span class="sr-only">(current)</span>
                                        </span>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="javascript:;">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="javascript:;">Next</a>
                                    </li>
                                </ul>
                            </nav>

                        </div>
                    </div>
                    <div class="tab-pane text-center gallery" id="artcamps">
                        <div class="pb-5">
                            <button class="btn btn-primary btn-round">
                                <i class="material-icons">add</i> Add Art Camps
                            </button>
                        </div>
                        <div class="row">
                            <div class="col-md-3 ml-auto">
                                <img src="../assets/img/examples/olu-eletu.jpg" class="rounded">
                                <img src="../assets/img/examples/clem-onojeghuo.jpg" class="rounded">
                                <img src="../assets/img/examples/cynthia-del-rio.jpg" class="rounded">
                            </div>
                            <div class="col-md-3 mr-auto">
                                <img src="../assets/img/examples/mariya-georgieva.jpg" class="rounded">
                                <img src="../assets/img/examples/clem-onojegaw.jpg" class="rounded">
                            </div>
                        </div>
                        <div class="p-5">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item disabled">
                                        <a class="page-link" href="javascript:;" tabindex="-1">Previous</a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="javascript:;">1</a></li>
                                    <li class="page-item active">
                                        <span class="page-link">
                                            2
                                            <span class="sr-only">(current)</span>
                                        </span>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="javascript:;">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="javascript:;">Next</a>
                                    </li>
                                </ul>
                            </nav>

                        </div>
                    </div>
                    <div class="tab-pane text-center gallery" id="exhibitions">
                        <div class="pb-5">
                            <button class="btn btn-primary btn-round">
                                <i class="material-icons">add</i> Add Exhibitions
                            </button>
                        </div>
                        <div class="row">
                            <div class="col-md-3 ml-auto">
                                <img src="../assets/img/examples/olu-eletu.jpg" class="rounded">
                                <img src="../assets/img/examples/clem-onojeghuo.jpg" class="rounded">
                                <img src="../assets/img/examples/cynthia-del-rio.jpg" class="rounded">
                            </div>
                            <div class="col-md-3 mr-auto">
                                <img src="../assets/img/examples/mariya-georgieva.jpg" class="rounded">
                                <img src="../assets/img/examples/clem-onojegaw.jpg" class="rounded">
                            </div>
                        </div>
                        <div class="p-5">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item disabled">
                                        <a class="page-link" href="javascript:;" tabindex="-1">Previous</a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="javascript:;">1</a></li>
                                    <li class="page-item active">
                                        <span class="page-link">
                                            2
                                            <span class="sr-only">(current)</span>
                                        </span>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="javascript:;">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="javascript:;">Next</a>
                                    </li>
                                </ul>
                            </nav>

                        </div>
                    </div>
                    <div class="tab-pane text-center gallery" id="awards">
                        <div class="pb-5">
                            <button class="btn btn-primary btn-round">
                                <i class="material-icons">add</i> Add Awards
                            </button>
                        </div>
                        <div class="row">
                            <div class="col-md-3 ml-auto">
                                <img src="../assets/img/examples/olu-eletu.jpg" class="rounded">
                                <img src="../assets/img/examples/clem-onojeghuo.jpg" class="rounded">
                                <img src="../assets/img/examples/cynthia-del-rio.jpg" class="rounded">
                            </div>
                            <div class="col-md-3 mr-auto">
                                <img src="../assets/img/examples/mariya-georgieva.jpg" class="rounded">
                                <img src="../assets/img/examples/clem-onojegaw.jpg" class="rounded">
                            </div>
                        </div>
                        <div class="p-5">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item disabled">
                                        <a class="page-link" href="javascript:;" tabindex="-1">Previous</a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="javascript:;">1</a></li>
                                    <li class="page-item active">
                                        <span class="page-link">
                                            2
                                            <span class="sr-only">(current)</span>
                                        </span>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="javascript:;">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="javascript:;">Next</a>
                                    </li>
                                </ul>
                            </nav>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true" data-backdrop="static" x>
    <div class="modal-dialog  modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Add New Art Work</h3>
                <button class="btn btn-primary btn-fab btn-fab-mini btn-round" data-dismiss="modal">
                    <i class="material-icons">close</i>
                </button>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-center">
                    <ul class="nav nav-pills nav-pills-default">
                        <li class="nav-item progress-pills"><a class="nav-link active" href="#pill1"
                                data-toggle="tab">1</a></li>
                        <li class="nav-item"><a class="nav-link" href="#pill2" data-toggle="tab">2</a></li>
                        <li class="nav-item"><a class="nav-link" href="#pill3" data-toggle="tab">3</a></li>
                    </ul>
                </div>
                <div class="tab-content tab-space">
                    <div class="tab-pane active" id="pill1">
                        <form>
                            <div class="jumbotron vertical-center text-center">
                                <div class="container">
                                    <i *ngIf="isImageSubmitting" class="material-icons edit-btn" style="color:#9c27b0"
                                        (click)="imageInput.click()">create</i>
                                    <i *ngIf="!isImageSubmitting" class="material-icons upload-wrapper-icon"
                                        style="color:#9c27b0" (click)="imageInput.click()">cloud_upload</i>
                                    <input hidden (change)="onImageSelected($event)" #imageInput type="file"
                                        id="imageFile">
                                    <img [src]="selectedImageURL" class="imageBox">
                                </div>
                            </div>
                            <div class="p-2">
                                <h5>Art Work Type</h5>
                                <div class="form-check form-check-radio">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="exampleRadios"
                                            name="exampleRadios" id="exampleRadios1" value="Drawing & Painting"
                                            (change)="addType($event)">
                                        Drawing & Painting
                                        <span class="circle">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                                <div class="form-check form-check-radio">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="exampleRadios"
                                            (change)="addType($event)" name="exampleRadios" id="exampleRadios2"
                                            value="Print Making" checked>
                                        Print Making
                                        <span class="circle">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <!-- <small id="emailHelp" class="form-text text-danger">This field is mandatory</small>  -->
                            <div class="row">
                                <div class="col">
                                    <h5>Art Work Title</h5>
                                    <input type="text" class="form-control" aria-describedby="emailHelp"
                                        id="exampleInputEmail1" placeholder="Enter title" (keyup)="addTitle($event)"
                                        [value]="selectedTitle">
                                </div>
                                <div class="col">
                                    <h5>Add Creation Year</h5>
                                    <input type="number" class="date-own form-control" style="width: 300px;"
                                        aria-describedby="emailHelp" id="exampleInputEmail1" placeholder="YYYY"
                                        min="1000" max="2100" (keyup)="addYear($event)" [value]="selectedYear">
                                </div>
                                <!-- <small id="emailHelp" class="form-text text-danger">This field is mandatory</small> -->
                            </div>
                            <div class="p-2">
                                <h5>Art Work Media</h5>
                                <select class="form-control selectpicker" data-style="btn btn-link"
                                    id="exampleFormControlSelect1" (selectionChange)="addCategory($event)">
                                    <option>Oil Paint on Canvas</option>
                                    <option>Oil Paint on Board</option>
                                    <option>Acrylic Paint on Canvas</option>
                                    <option>Acrylic Paint on Board</option>
                                    <option>Acrylic Paint on Paper</option>
                                    <option>Watercolor on Paper</option>
                                    <option>Poster Color on Paper</option>
                                    <option>Graphite Pencil on Paper</option>
                                    <option>Charcoal on Paper</option>
                                    <option>Graphite Pencil on Paper</option>
                                    <option>Color Pencil on Paper</option>
                                    <option>Pastels on Paper</option>
                                    <option *ngIf="selectedType === 'Print Making'">Woodcut</option>
                                    <option *ngIf="selectedType === 'Print Making'">Lithography</option>
                                    <option>Mixed Media</option>
                                    <option>Other Media</option>
                                </select>
                            </div>
                            <!-- <small id="emailHelp" class="form-text text-danger">This field is mandatory</small> -->
                            <div class="p-2" *ngif="false">
                                <input type="text" class="form-control" aria-describedby="emailHelp"
                                    id="exampleInputEmail1" placeholder="Enter media Type">
                            </div>
                            <!-- <small id="emailHelp" class="form-text text-danger">This field is mandatory</small> -->
                            <div class="p-2">
                                <h5>Size</h5>
                                <div class="form-row">
                                    <div class="col">
                                        <input type="number" class="form-control" placeholder="Height"
                                            [(value)]="selectedHeight" (keyup)="addHeight($event)">
                                    </div>
                                    <h5 for="exampleFormControlTextarea1">X</h5>
                                    <div class="col">
                                        <input type="number" class="form-control" placeholder="Width"
                                            [(value)]="selectedWidth" (keyup)="addWidth($event)">
                                    </div>
                                </div>
                            </div>
                            <div class="p-2">
                                <div class="form-group">
                                    <h5 for="exampleFormControlTextarea1">Art Concept</h5>
                                    <textarea class="form-control" id="exampleInputEmail1" rows="3"
                                        [(value)]="selectedConcept" (keyup)="addConcept($event)"></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane" id="pill2">
                        <div class="jumbotron vertical-center text-center">
                            <div class="container">
                                <img *ngIf="isImageSubmitting" [src]="selectedImageURL" class="imageBox">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card" style="width: 20rem;">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Art Work Type: {{selectedType}}</li>
                                        <li class="list-group-item">Title: {{selectedTitle }}</li>
                                        <li class="list-group-item">Year: {{selectedYear}}</li>
                                        <li class="list-group-item">Media: {{selectedCategory}}</li>
                                        <li class="list-group-item">Size: {{selectedHeight}} X {{selectedWidth}}</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card" style="width: 20rem;">
                                    <div class="card-body">
                                        <h4 class="card-title">Art Concept</h4>
                                        <p *ngIf="selectedConcept" class="card-text">{{selectedConcept}}</p>
                                        <textarea *ngIf="!selectedConcept" class="form-control" id="exampleInputEmail1"
                                            rows="3" [(value)]="selectedConcept"
                                            (keyup)="addConcept($event)"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card" style="width: 20rem;">
                            <div class="card-body">
                                <h4 class="card-title">Do you want to sell this Art Work ?</h4>
                                <div class="form-check form-check-radio">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="exampleRadios"
                                            id="exampleRadios1" value="yes" (click)="addSellOption('yes')">
                                        Yes
                                        <span class="circle">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                                <div class="form-check form-check-radio">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="exampleRadios"
                                            id="exampleRadios2" value="no" (click)="addSellOption('no')">
                                        No
                                        <span class="circle">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                                <div class="form-check form-check-radio disabled">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="exampleRadios1"
                                            id="exampleRadios3" value="soldout" (click)="addSellOption('soldout')">
                                        Sold Out
                                        <span class="circle">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="pill3">
                        <div *ngIf="selectedSellOption === 'yes'" class="row">
                            <div class="col-md-6">
                                <div class="card" style="width: 20rem;">
                                    <div class="card-body">
                                        <h4 class="card-title">Terms and Conditions</h4>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" value="">
                                                Term 1
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="form-check disabled">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" value="">
                                                Term 2
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="form-check disabled">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" value="">
                                                Term 3
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="form-check disabled">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" value="">
                                                Term 4
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                        <button class="btn btn-primary btn-round" style="float: right;"
                                            data-toggle="modal" data-target="#exampleModal">
                                            I Agree
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card" style="width: 20rem;">
                                    <div class="card-body">
                                        <h4 class="card-title">Add Expected Price</h4>
                                        <input type="number" class="form-control" placeholder="999999" min="0"
                                            max="99999999">
                                        <p class="card-text">Dollars</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-1">
                                <button class="btn btn-primary btn-round" data-toggle="modal"
                                    data-target="#exampleModal">
                                    <i class="material-icons" (click)="publish()">save</i> Save Art Work
                                </button>
                            </div>
                        </div>
                        <div class="card" *ngIf="selectedSellOption === 'no' || selectedSellOption === 'soldout'"
                            style="width: 20rem;">
                            <div class="card-body">
                                <h4 class="card-title">Do you want to make a replica of this Art Work on order ?</h4>
                                <div class="form-check form-check-radio">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="exampleRadios"
                                            id="exampleRadios1" (value)="yes" (click)="addReplicaOrder('yes')">
                                        Yes
                                        <span class="circle">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                                <div class="form-check form-check-radio">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="exampleRadios"
                                            id="exampleRadios2" (value)="no" (click)="addReplicaOrder('no')">
                                        No
                                        <span class="circle">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="selectedReplica === 'yes'" class="row">
                            <div class="col-md-6">
                                <div class="card" style="width: 20rem;">
                                    <div class="card-body">
                                        <h4 class="card-title">Terms and Conditions</h4>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" value="">
                                                Term 1
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="form-check disabled">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" value="">
                                                Term 2
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="form-check disabled">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" value="">
                                                Term 3
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="form-check disabled">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" value="">
                                                Term 4
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                        <button class="btn btn-primary btn-round" style="float: right;"
                                            data-toggle="modal" data-target="#exampleModal">
                                            I Agree
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card" style="width: 20rem;">
                                    <div class="card-body">
                                        <h4 class="card-title">Add Demand Price</h4>
                                        <input type="number" class="form-control" placeholder="999999" min="0"
                                            max="99999999">
                                        <p class="card-text">Dollars</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-1">
                                <button class="btn btn-primary btn-round" data-toggle="modal"
                                    data-target="#exampleModal">
                                    <i class="material-icons" (click)="publish()">save</i> Save Art Work
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Next</button>
            </div>
        </div>
    </div>
</div>

<!-- (click)="publish()"  -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true" data-backdrop="static" x>
    <div class="modal-dialog  modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Education/ Art Training</h3>
                <button class="btn btn-primary btn-fab btn-fab-mini btn-round" data-dismiss="modal">
                    <i class="material-icons">close</i>
                </button>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-center">
                    <ul class="nav nav-pills nav-pills-default">
                        <li class="nav-item progress-pills"><a class="nav-link active" href="#pill1"
                                data-toggle="tab">1</a></li>
                        <li class="nav-item"><a class="nav-link" href="#pill2" data-toggle="tab">2</a></li>
                        <li class="nav-item"><a class="nav-link" href="#pill3" data-toggle="tab">3</a></li>
                    </ul>
                </div>
                <div class="tab-content tab-space">
                    <div class="tab-pane active" id="pill1">
                        <button type="submit" style="float: right;" class="btn btn-primary">Save</button><br>
                        <!-- <form>
                            <div class="form-group">
                                <h5>Name of Academy/School</h5>
                                <input type="text" class="form-control" aria-describedby="emailHelp"
                                    id="exampleInputEmail1" placeholder="Enter Academy" (keyup)="addTitle($event)"
                                    [value]="selectedTitle">
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <h5>Certificate Achieved</h5>
                                    <input type="text" class="form-control" aria-describedby="emailHelp"
                                        id="exampleInputEmail1" placeholder="Certificate Name"
                                        (keyup)="addTitle($event)" [value]="selectedTitle">
                                </div>
                                <div class="form-group col-md-6">
                                    <h5>Year</h5>
                                    <input type="number" class="date-own form-control" style="width: 300px;"
                                        aria-describedby="emailHelp" id="exampleInputEmail1" placeholder="YYYY"
                                        min="1000" max="2100" (keyup)="addYear($event)" [value]="selectedYear">
                                </div>
                            </div>
                        </form> -->
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Art School</h4>
                                <form>
                                    <div class="form-group">
                                        <h6>Name of Academy/School</h6>
                                        <input type="text" class="form-control" aria-describedby="emailHelp"
                                            id="exampleInputEmail1" placeholder="Enter Academy"
                                            (keyup)="addArtSchool($event)" [value]="selectedArtSchool">
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <h6>Certificate Achieved</h6>
                                            <input type="text" class="form-control" aria-describedby="emailHelp"
                                                id="exampleInputEmail1" placeholder="Certificate Name"
                                                (keyup)="addArtCertificate($event)" [value]="selectedArtCertificate">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <h6>Year</h6>
                                            <input type="number" class="date-own form-control" style="width: 300px;"
                                                aria-describedby="emailHelp" id="exampleInputEmail1" placeholder="YYYY"
                                                min="1000" max="2100" (keyup)="addArtYear($event)"
                                                [value]="selectedArtYear">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Graduate School</h4>
                                <form>
                                    <div class="form-group">
                                        <h6>Name of College/University/Institution</h6>
                                        <input type="text" class="form-control" aria-describedby="emailHelp"
                                            id="exampleInputEmail1" placeholder="Enter University"
                                            (keyup)="addGradSchool($event)" [value]="selectedGradSchool">
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <h6>Degree Achieved</h6>
                                            <input type="text" class="form-control" aria-describedby="emailHelp"
                                                id="exampleInputEmail1" placeholder="Degree Name"
                                                (keyup)="addGradCertificate($event)" [value]="selectedGradCertificate">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <h6>Year</h6>
                                            <input type="number" class="date-own form-control" style="width: 300px;"
                                                aria-describedby="emailHelp" id="exampleInputEmail1" placeholder="YYYY"
                                                min="1000" max="2100" (keyup)="addGradYear($event)"
                                                [value]="selectedGradYear">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Post Graduate School</h4>
                                <form>
                                    <div class="form-group">
                                        <h6>Name of University</h6>
                                        <input type="text" class="form-control" aria-describedby="emailHelp"
                                            id="exampleInputEmail1" placeholder="Enter University"
                                            (keyup)="addPGSchool($event)" [value]="selectedPGSchool">
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <h6>Highest Degree Achieved</h6>
                                            <input type="text" class="form-control" aria-describedby="emailHelp"
                                                id="exampleInputEmail1" placeholder="Degree Name"
                                                (keyup)="addPGDegree($event)" [value]="selectedPGDegree">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <h6>Year</h6>
                                            <input type="number" class="date-own form-control" style="width: 300px;"
                                                aria-describedby="emailHelp" id="exampleInputEmail1" placeholder="YYYY"
                                                min="1000" max="2100" (keyup)="addPGYear($event)"
                                                [value]="selectedPGYear">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="pill2">
                        <div class="card">
                            <div class="card-body">
                                <h5>Studied {{selectedArtCertificate}} at {{selectedArtSchool}} in {{selectedArtYear}}
                                </h5>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h5>Studied {{selectedGradCertificate}} at {{selectedGradSchool}} in
                                    {{selectedGradYear}}
                                </h5>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h5>Studied {{selectedPGDegree}} at {{selectedPGSchool}} in {{selectedPGYear}}
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Next</button>
        </div>
    </div>
</div>
<!-- <button type="submit" class="btn btn-primary">Sign in</button> -->