
<section id="galleryType-uploader">
    <div fxLayout="row" fxLayoutAlign="end center" >
  
      <button mat-icon-button class="close-button" [mat-dialog-close]="true">
        <mat-icon class="close-icon" color="primary">close</mat-icon>
      </button><br>
    </div>
    <div class="galleryType">
      
        <mat-horizontal-stepper  linear #stepper>
          <mat-step >
            <div class="type-info">
              <h1>Add New Gallery Type</h1>
             
              <div class="example-container">
                <mat-form-field class="field-form" appearance="fill">
                  <mat-label>Enter New Type</mat-label>
                  <input matInput placeholder="Replica Type" [formControl]="type" required (keyup)="addType($event)">
                  <mat-error *ngIf="type.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field><br>
                
              </div>
              <div class="backNextImage">
                <button mat-flat-button color="primary" class="backNextImage-button" (click)="next(stepper, 1)">Next</button>
              </div>
            </div>
          </mat-step>
     
     
          <mat-step>
            <div class="typeSelection">
              <h1>Choose Photo Category</h1>
    
              <mat-form-field class="imageType">
    
                <mat-label class="type">Select an option</mat-label>
                <mat-select [(value)]="selectedCategory">
    
                  <mat-option *ngFor="let list of lists" [value]="list.value">
                    {{list.value}}</mat-option >
                </mat-select>
              </mat-form-field>
            </div>
            <div class="backNextImage">
              <button mat-flat-button color="primary" class="backNextImage-button" matStepperPrevious>Back</button>&nbsp;
              <button mat-flat-button color="primary" class="backNextImage-button" (click)="next(stepper, 2)">Next</button>
            </div>
    
          </mat-step>
          
          <mat-step>
            <div class="publish-galleryType">
              <h2>Now Publish Your New GalleryType here!</h2>
              <div class="publish-button">
                <button mat-flat-button color="primary"class="backNextImage-button" (click)="publish()" >Publish</button>
              </div>
            </div>
            <div class="backNextImage">
              <button mat-flat-button color="primary"
                class="backNextImage-button"
                matStepperPrevious>Back</button>&nbsp;
            </div>
          </mat-step>
        </mat-horizontal-stepper>
      
    </div>
  </section>