<footer class="footer">
    <div class="container">
        <nav class="float-left">
            <ul>
                <li>
                    <a href="faq">
                        FAQ
                    </a>
                </li>
                <li>
                    <a href="tos">
                        Terms
                    </a>
                </li>
                <li>
                    <a href="privacy">
                        Privacy
                    </a>
                </li>
                <li>
                    <a href="#">
                        Licenses
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright float-right">
            &copy;
            2020
            <a href="https://galleryreflection.com/">Gallery Reflection</a>. All Rights Reserved.
        </div>
    </div>
</footer>