.gallery{

    text-align: center;
    box-sizing: border-box;
    border-color: #CFCFCF;
    width: 100%;
}
.gallery-inner{
    
    text-align: center;
    box-sizing: border-box;
    border-color: #CFCFCF;
    padding-bottom: .5em;
}
.gallery-inner h2{
    text-align: center;
    padding: 1em;
}
.padded {
    padding: 5px;
}
::ng-deep .mat-figure{
    
        display: block;
        margin-block-start: .5em;
        margin-block-end: .5em;
        margin-inline-start: 5px;
        margin-inline-end: 5px;
    
}
.videoFrame{
    padding: 10px;
    width: 640px;
    height: 360px;
    align-items: center;
    justify-content: center;
}
@media only screen and (max-width: 550px) {
    .videoFrame{
        width: 300px;
        height: 250px;
    }
}

#inner {
    display: table;
    margin: 0 auto;
    color: white;
    padding: 20px;
}
#inner h2{
    font-size: 2em;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#inner h3{
    font-size: 1.2em;
}
#inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    width:100%;
    height: 350px;
    background-color: #B47A15;
    button {
        color: #b47a15;
    }
}

.fa-facebook-f{
    color: #3B5998;
}
.fa-twitter{
    color:#00B6F1;
}
.fa-instagram{
    color:#2C6A93;
}
.fa-pinterest{
    color:#C91517;
}
h2 {
    color: #b47a15;
}

.contact {
    color: white !important;
}

.ngx-gallery {
    display: inline-block;
    margin-bottom: 20px;
}

.swiper-container{
    width: 100%;
    height: auto !important;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    color: white;
}
.slide-container{
    width: 100%;
    height: auto !important;
}
.testimonial-image{
    width: 100%;
    height: auto !important;
    align-items: center;
    justify-content: center !important;
    cursor: pointer;
    padding: 10px;
}
@media screen and (min-width: 1024px) {
  .swiper-container{
      width: 550px !important;
  }
}

.testi-header{
    align-items: center;
    justify-content: center;
    padding: 0em;
  }
.swiper-slide{
    align-items: center;
    justify-content: center;
}
.slider{
    padding: 10px;
    align-items: center !important;
    justify-content: center;
}
.testi-header{
    padding: 0em;
    align-items: center;
    justify-content: center; 
}
.likeButton{
    align-items: center;
      text-align: center;
      padding: .25em 1em;
      color: white;
      margin-bottom: .70em;
}
.contact-field{
    width: 30%;
}
@media screen and (min-width: 760px) {
    .contact-field{
        width: 90%;
    }
  }
.contactButton{
    margin-top: 1em;
}

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: white !important;
   }
  
   ::ng-deep .mat-form-field-underline {
    /*change color of underline*/
    background-color: white !important;
  } 
  
  ::ng-deep .mat-form-field-empty .mat-form-field-ripple {
   /*change color of underline when focused*/
   background-color: white !important;
  }
  ::ng-deep .mat-card-header-text {
    justify-content: center !important;
}
.mat-h2, .mat-title, .mat-typography h2 {
   
    margin: 0px;
}
::ng-deep .swiper-button-next, ::ng-deep .swiper-button-prev {
    color: #b47a15 !important; 
    align-self: center;
    position: relative;
    // display: flex;
    // justify-content: center;
    // align-items: center;
}
