.gallery{
    /* Sizing */
    text-align: center;
    box-sizing: border-box;
    border-color: #CFCFCF;
}
.gallery-inner{
    /* padding: 10px 10px 10px 10px; */
    text-align: center;
    box-sizing: border-box;
    border-color: #CFCFCF;
    padding-bottom: 1em;
}
.petpotrait{
    text-align: center;
    box-sizing: border-box;
    border-color: #CFCFCF;
} 
.gallery-inner h2{
    text-align: center;
    padding: 1em;
    font-size: 2em;
}
.petpotrait h2{
    text-align: center;
    padding: 2em;
    font-size: 2em;
}

#inner {
    display: table;
    margin: 0 auto;
    color: white;
    padding: 40px;
}
#inner h2{
    font-size: 2em;
    align-items: center;
}
#inner h3{
    font-size: 1.2em;
}
#inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    width:100%;
    height: 350px;
    background-color: #B47A15;
    button {
        color: #b47a15;
    }
}
.hero-button {
    padding: 10px 5px;
    color: white;
    border-radius: 0;
}

.fa-facebook-f{
    color: #3B5998;
}
.fa-twitter{
    color:#00B6F1;
}
.fa-instagram{
    color:#2C6A93;
}
.fa-pinterest{
    color:#C91517;
}
h2 {
    color: #b47a15;
}

.gallery {
    width: 100%;
}

.padded {
    padding: 20px;
}

.contact {
    color: white !important;
}

.ngx-gallery {
    display: inline-block;
    margin-bottom: 20px;
}

.swiper-container{
    width: 850px!important;
    height: 500px !important;
    align-items: center;
    justify-content: center;
}
.slide-container{
    width: 800px!important;
    height: 400px !important;
}
.testimonial-image{
    width: 350px;
    align-items: center;
    justify-content: center;
}
.slide{
    padding: .5em;
    align-items: center;
    justify-content: center;
}
@media only screen and (max-width: 600px) {
    .swiper-container{
       width: 300px !important;
       height: 450px !important;
    }
    .testimonial-image{
        width: 250px;
        height: 200px !important;
    }
    .slide{
        padding: .1em;
        height: 480px !important;
    }
    .slide-container{
        width: 300px!important;
        height: 400px !important;
    }
  }
  @media screen and (min-width: 601px) and (max-width: 780px) {
    .swiper-container{
       width: 500px !important;
       height: 450px !important;
    }
    .testimonial-image{
        width: 300px;
        height: 200px !important;
    }
    .slide{
        padding: .1em;
        height: 480px !important;
    }
    .slide-container{
        width: 500px!important;
        height: 400px !important;
    }
  }
  .testi-header{
    align-items: center;
    justify-content: center;
    padding: 0em;
  }
.swiper-slide{
    align-items: center;
    justify-content: center;
}
.slider{
    padding: none;
    align-items: center;
    justify-content: center;
}
.testi-header{
    padding: 0em;
    align-items: center;
    justify-content: center; 
}
.swiper-button-prev{
    padding: .5em;
}
.likeButton{
    align-items: center;
      text-align: center;
      padding: .25em 1em;
      color: white;
      margin-bottom: .70em;
}
.wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.mat-card-title{
    align-items: center;
    text-align: center;
}
.contact-field{
    width: 40%;
    // background-color: white;
}

