<section class="gallery">
    <div class="gallery-inner">
        <div class="picture-gallery">
            <h1>PICTURE GALLERY</h1>
            <ng-image-slider id="imageslider" *ngIf="showSlider" #nav [images]="imageObject"
                [imageSize]="{width: '300px', height: '300px', space: 10}" [infinite]="sliderInfinite"
                [imagePopup]="sliderImagePopup" [showArrow]="sliderArrowShow" [autoSlide]="sliderAutoSlide ? 1 : 0"
                [animationSpeed]="sliderAnimationSpeed" [manageImageRatio]="false" (imageClick)="imageOnClick($event)"
                (arrowClick)="arrowOnClick($event)" (lightboxArrowClick)="lightboxArrowClick($event)">
            </ng-image-slider>
        </div>
        <div class="pet-potrait">
            <h1>Pet Potrait</h1>
            <ng-image-slider id="imageslider" *ngIf="showSlider" #nav [images]="imageObject"
                [imageSize]="{width: '300px', height: '300px', space: 10}" [infinite]="sliderInfinite"
                [imagePopup]="false" [showArrow]="sliderArrowShow" [autoSlide]="sliderAutoSlide ? 1 : 0"
                [animationSpeed]="sliderAnimationSpeed" [manageImageRatio]="false" (imageClick)="imageOnClick1()"
                (arrowClick)="arrowOnClick($event)" (lightboxArrowClick)="lightboxArrowClick($event)">
            </ng-image-slider>
        </div>
    </div>
</section>
