<div class="gallery">
    <div class="gallery-inner">
        <h2>ARTISAN IMAGING AGENCY</h2>
        <div class="landing-padded">
            <mat-grid-list cols="3" gutterSize="200">
                <mat-grid-tile>
                    <div fxLayout="column">
                        <mat-card>
                            <mat-icon fontSet="fab" fontIcon="fa-accusoft" class="landing-icons"></mat-icon>
                            <div>
                                <h3>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                    unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    It has survived not only five centuries
                                </h3>
                            </div>
                        </mat-card>

                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div fxLayout="column" fxLayoutAlign="space-around center">
                        <mat-card class="example-card">

                            <mat-icon fontSet="fas" fontIcon="fa-truck-moving" class="landing-icons"></mat-icon>
                            <div>
                                <h3>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                    unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    It has survived not only five centuries
                                </h3>
                            </div>
                        </mat-card>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div fxLayout="column" fxLayoutAlign="space-around center">
                        <mat-card class="example-card">
                            <mat-icon fontSet="fas" fontIcon="fa-globe" class="landing-icons"></mat-icon>
                            <div>
                                <h3>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                    unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    It has survived not only five centuries
                                </h3>
                            </div>
                        </mat-card>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </div>
    <div class="gallery-inner">
        <h2>REFLECTION IN ACTION(VIDEO)</h2>
        <div class="padded">
            <mat-card class="example-card">
                <h3>At reflection we are always trying to provide you with the best artistic piece possible. Take a dive
                    at our
                    process.</h3>
                <mat-grid-list cols="2" [cols]="breakpoint" gutterSize="20" class="inner"
                    (window:resize)="onResizeVideo($event)" rowHeight="1:.5">
                    <mat-grid-tile>
                        <iframe class="videoFrame"
                            src="https://player.vimeo.com/video/20412632?color=ffffff&byline=0&portrait=0" width="640"
                            height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <iframe class="videoFrame"
                            src="https://player.vimeo.com/video/20412632?color=ffffff&byline=0&portrait=0" width="640"
                            height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-card>
        </div>
    </div>
    <div class="gallery">
        <div class="gallery-inner">
            <h2>PICTURE GALLERIES</h2>
            <div class="padded">
                <mat-grid-list [cols]="breakpoint" rowHeight="35rem" gutterSize="20" class="inner"
                    (window:resize)="onResize($event)">
                    <mat-grid-tile *ngFor="let gallery of galleryImgs">
                        <mat-card class="example-card">
                            <div class="gallery petpotrait">
                                <h3>{{gallery.type}}</h3>
                                <ngx-gallery [options]="gallery.galleryOptions" [images]="gallery.images"
                                    class="ngx-gallery">
                                </ngx-gallery>
                            </div>
                        </mat-card>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
        </div>
    </div>


    <div class="gallery-inner">
        <h2>TESTIMONIALS</h2>
        <div class="testimonial-container testimonial-padded">
            <mat-card>
                <mat-grid-list cols="3"  rowHeight="1:2">
                    <mat-grid-tile colspan='2'>
                        <div class="swiper-container rightVerticalAlign">
                            <swiper class="swiper" [config]="config">
                                <div class="slide-container" *ngFor="let testimonial of testimonials">
                                    <mat-card   >
                                        <mat-card-header class="testi-header">
                                            <mat-card-title>{{testimonial.userName}}</mat-card-title>
                                            <mat-card-subtitle>
                                                <star-rating value="{{testimonial.userRating}}" totalstars={{totalstar}}
                                                    checkedcolor="GoldenRod" uncheckedcolor="black" size="20px"
                                                    readonly="true">
                                                </star-rating>

                                            </mat-card-subtitle>
                                        </mat-card-header>
                                        <mat-card-content class="slider" fxLayout.gt-sm="row" fxLayout="row wrap" fxLayoutGap="5px">
                                            <img [src]="testimonial.imageURL" alt=""
                                                (click)="showtTestimonial(testimonial.imageURL)"
                                                class="testimonial-image" fxFlex.gt-sm="50%" fxFlex>
                                            <p fxFlex.gt-sm="50%" fxFlex>
                                                {{testimonial.description}}
                                            </p>
                                        </mat-card-content>
                                        <mat-card-actions class="shareLike">
                                            <button class="likeButton" mat-flat-button color="white">
                                                <mat-icon aria-hidden="false" aria-label="Example home icon"
                                                    color="primary">
                                                    thumb_up_alt</mat-icon>
                                            </button>&nbsp;
                                            <button class="likeButton" mat-flat-button color="white">
                                                <mat-icon aria-hidden="false" aria-label="Example home icon"
                                                    color="primary">
                                                    share
                                                </mat-icon>
                                            </button>
                                        </mat-card-actions>
                                    </mat-card>
                                </div>
                            </swiper>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile colspan='1'>
                        <swiper class="vertical-swiper-container" [config]="verticalConfig" fxFlex="auto">
                            <div *ngFor="let testimonial of testimonials" class="swiper-slide">
                                <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
                                    <img [src]="testimonial.imageURL" (click)="showtTestimonial(testimonial.imageURL)"
                                        class="testimonial-vertical-image">
                                </div>
                            </div>
                        </swiper>
                        <!-- <swiper [config]="verticalConfig">
                                <div *ngFor="let testimonial of testimonials">
                                    <img [src]="testimonial.imageURL"
                                        (click)="showtTestimonial(testimonial.imageURL)" class="testimonial-vertical-image">
                                </div>
                            </swiper> -->
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-card>
        </div>
    </div>

    <div class="gallery-inner">
        <h2>We Accept</h2>
        <div class="landing-padded">
            <mat-grid-list cols="4" rowHeight="1:.3">
                <mat-grid-tile>
                    <mat-icon fontSet="fab" fontIcon="fa-cc-visa" class="landing-icons"></mat-icon>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-icon fontSet="fab" fontIcon="fa-cc-mastercard" class="landing-icons"></mat-icon>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-icon fontSet="fab" fontIcon="fa-cc-amex" class="landing-icons"></mat-icon>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-icon fontSet="fab" fontIcon="fa-cc-discover" class="landing-icons"></mat-icon>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </div>
    <div id="outer">
        <div id="inner">
            <h2 class="contact">GET IN TOUCH</h2>
            <h3>Want a quote or have a talk or just want to hang around? Just enter your email address and we will take
                it
                from there!</h3>
            <mat-form-field class="contact-field" color="tartiary">
                <input matInput type="text" style="color:white" [formControl]="email">
                <mat-placeholder style="color:white">Enter your email here</mat-placeholder>
                <mat-error style="color:white" *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
            <button class="contactButton" mat-flat-button color="secondary">CONTACT US</button>
        </div>
    </div>
</div>